.app {overflow-y:scroll;}
  .app-wrapper {position:relative;z-index:1;min-width:840px;max-width:1000px;margin:0 auto;}
    .app-h-link {text-decoration:none;}
    .app-table {}
      .app-table-cell {vertical-align:middle;}
      .app-status-middle {position:relative;top:-2px;vertical-align:middle;}
    .app-select {line-height:1.65em;outline:0;padding:0.3em 0.35em;border:1px solid rgb(204, 204, 204);}
  .app-loader {position:fixed;top:0;right:0;bottom:0;left:0;z-index:2;background:rgba(255,255,255, 0.5);}
    .app-loader:after {content:'';position:absolute;top:50%;left:50%;width:64px;height:64px;margin-top:-32px;margin-left:-32px;background:url(../static/spinner.png) no-repeat 0 0;-moz-animation:spinner 0.8s infinite linear;-webkit-animation:spinner 0.8s infinite linear;animation:spinner 0.8s infinite linear;}
      @keyframes spinner{from {transform:rotate(0);} to {transform:rotate(360deg);}}
      @-moz-keyframes spinner {from {-moz-transform:  rotate(0);} to {-moz-transform: rotate(360deg);}}
      @-webkit-keyframes spinner {from {-webkit-transform:  rotate(0);} to {-webkit-transform: rotate(360deg);}}
    }
