.gantt {position:relative;}
  .gantt-sidebar {position:absolute;z-index:2;top:0;bottom:0;left:0;padding:25px 0;background:rgba(249,250,253, 0.5);}
    .gantt-sidebar__line {position:relative;z-index:2;padding:0 10px;border-box:box-sizing;border-bottom:1px solid #e0e3e5;line-height:29px;}
    .gantt-sidebar__line:last-child {border-bottom:0;}
  .gantt-viewport {position:relative;z-index:1;overflow-x:hidden;overflow-y:hidden;padding:20px 0;}
    .gantt-viewport:before {content:'';position:absolute;top:0;right:0;left:0;display:block;height:30px;border-top:1px solid #e0e3e5;border-bottom:1px solid #e0e3e5;}
    .gantt-viewport:after {content:'';position:absolute;left:0;bottom:0;right:0;display:block;height:30px;border-top:1px solid #e0e3e5;border-bottom:1px solid #e0e3e5;}
    .gantt-chart {position:relative;padding:5px 0;float:right;}
      .gantt-chart__line {position:relative;height:30px;}
      .gantt-chart__line:nth-child(even) {background-color:#f0f1f2;}
      .gantt-chart__line + .gantt-chart__line {margin-top:0;}
        /*.gantt-chart__line:after {content:'';position:absolute;z-index:1;display:block;top:10px;right:0;left:0;border-top:1px solid #e0e3e5;}*/
    .gantt-field {position:absolute;z-index:3;top:6px;left:0;right:0;bottom:6px;min-width:8px;background-color:#2575ed;border-radius:4px;cursor:pointer;}
      .gantt-field__part {}
    .gantt-guide {position:absolute;z-index:2;top:0;left:0;bottom:0;width:1px;background-color:#e0e3e5;}
    .gantt-guide:nth-of-type(2) {background-color:transparent;}
      .gantt-guide:before {content:attr(data-label);position:absolute;z-index:2;bottom:100%;left:1px;display:block;color:#000;font-size:12px;line-height:12px;}
      .gantt-guide:after {content:attr(data-label);position:absolute;z-index:2;top:100%;left:1px;display:block;color:#000;font-size:12px;line-height:12px;}

  .gantt-hidden {display:none;}


  :-webkit-full-screen {position:relative;overflow-y:scroll;width:100%;height:100%;background-color:#fff;}
    :-webkit-full-screen .gantt-sidebar {background:none;}
    :-webkit-full-screen .gantt-sidebar__line {background:rgba(249,250,253, 0.5);}

  :-moz-full-screen {position:relative;overflow-y:scroll;width:100%;height:100%;background-color:#fff;}
    :-moz-full-screen .gantt-sidebar {background:none;}
    :-moz-full-screen .gantt-sidebar__line {background:rgba(249,250,253, 0.5);}

  :-ms-full-screen {position:relative;overflow-y:scroll;width:100%;height:100%;background-color:#fff;}
    :-ms-full-screen .gantt-sidebar {background:none;}
    :-ms-full-screen .gantt-sidebar__line {background:rgba(249,250,253, 0.5);}

  :full-screen {position:relative;overflow-y:scroll;width:100%;height:100%;background-color:#fff;}
    :full-screen .gantt-sidebar {background:none;}
    :full-screen .gantt-sidebar__line {background:rgba(249,250,253, 0.5);}
