<div class="app-wrapper">

  <header class="group units-row units-padding">
    <div class="unit-60">
      <h1 class="end">BAKAPY.<span class="small">backup framework</span></h1>
    </div>
    <div class="unit-40">
      <input ng-model="query" ng-change="changeUriQuery(query)" class="width-100 app-search" type="text" placeholder="Enter a phrase to search"/>
    </div>
  </header><!-- /header -->

  <div bindonce ng-repeat="(key, array) in backups" class="units-row units-padding end">
    <div class="unit-100" ng-if="(group = (array | filter: query)).length">
      <h2 class="h3" bo-text="key"></h2>
      <table class="app-table">
        <thead>
          <tr>
            <th class="app-table-cell"></th>
            <th class="app-table-cell">JobName</th>
            <th class="app-table-cell">StartTime</th>
            <th class="app-table-cell">Size</th>
            <th class="app-table-cell">Expire</th>
          </tr>
        </thead>

        <tbody>
          <tr bindonce ng-repeat="backup in group | orderBy: ['JobName', '-StartTime']" class="app-table-line">
            <td>
              <span bo-if="backup.Success" class="badge badge-green" title="Success">&#160;&#160;</span>
              <span bo-if="!backup.Success" class="badge badge-red" title="Failed">&#160;&#160;</span>
            </td>
            <td class="app-table-cell">
              <span class="color-gray-50 small"><span bo-text="backup.JobName"></span>&#160;/</span><br />
              <a bo-href-i="#/{{ backup._source }}" bo-text="backup.TaskId"></a>
            </td>
            <td class="app-table-cell" title="StartTime">
              <span bo-text="backup.StartTime | date:'dd-MM-yyyy'"></span><br />
              <span class="color-gray-50 small" bo-text="backup.StartTime | date:'HH:mm:ss'"></span>
            </td>
            <td class="app-table-cell" title="TotalSize" bo-text="backup.TotalSize | bytes"></td>
            <td class="app-table-cell" title="ExpireTime">
              <span bo-text="backup.ExpireTime | date:'dd-MM-yyyy'"></span><br />
              <span class="color-gray-50 small" bo-text="backup.ExpireTime | date:'HH:mm:ss'"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- /app-wrapper -->

<span class="app-loader" data-loading></span><!-- /app-loader -->
