<div class="app-wrapper">

  <header class="group units-row units-padding end">
    <div class="unit-60 unit-push-left">
      <h1 class="end">BAKAPY.<span class="small">backup framework</span></h1>
    </div>
  </header><!-- /header -->

  <div class="units-row units-padding units-split end">
    <div class="unit-30">
      <select ng-model="sortBySuccess" class="width-100 app-select">
        <option value="">Default</option>
        <option value="Success">Failed first</option>
        <option value="-Success">Success first</option>
      </select>
    </div>
    <div class="unit-40">
      <input ng-model="query" ng-change="changeUriQuery(query)" class="width-100" type="text" placeholder="Enter a phrase to search"/>
    </div>
  </div>

  <div class="units-row units-padding">
    <div class="unit-100">
      <!-- TODO: show total items (create a filter) -->
      Total: {{ backups | keyLength }} groups
      <!-- .&#160;Displayed: {{ filteredBackups | keyLength }} -->
    </div>
  </div>
  <div ng-repeat="(key, values) in backups" class="units-row units-padding end">
    <div class="unit-100">
      <h2 class="h3">{{ key }}</h2>
      <table class="table-hovered app-table">
        <thead>
          <tr>
            <th class="app-table-cell"></th>
            <th class="app-table-cell">JobName</th>
            <th class="app-table-cell">StartTime</th>
            <th class="app-table-cell">Size</th>
            <th class="app-table-cell">Expire</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="backup in values | filter: query | orderBy: [sortBySuccess, 'JobName', '-StartTime']" class="app-table-line">
            <td >
              <span ng-if="backup.Success" class="badge badge-green" title="Success">&#160;&#160;</span>
              <span ng-if="!backup.Success" class="badge badge-red" title="Failed">&#160;&#160;</span>
            </td>
            <td class="app-table-cell">
              <span class="color-gray-50 small">{{ backup.JobName }}&#160;/</span><br />
              <a href="#/{{ backup.TaskId }}">{{ backup.TaskId }}</a>
            </td>
            <td class="app-table-cell" title="StartTime">
              {{ backup.StartTime | date:'dd-MM-yyyy' }}<br />
              <span class="color-gray-50 small">{{ backup.StartTime | date:'HH:mm:ss' }}</span>
            </td>
            <td class="app-table-cell" title="TotalSize">{{ backup.TotalSize | bytes}}</td>
            <td class="app-table-cell" title="ExpireTime">
              {{ backup.ExpireTime | date:'dd-MM-yyyy' }}<br />
              <span class="color-gray-50 small">{{ backup.ExpireTime | date:'HH:mm:ss' }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div><!-- /app-wrapper -->

<span class="app-loader" data-loading></span><!-- /app-loader -->
