<div class="app-wrapper">

  <header class="group units-row units-padding end">
    <div class="unit-60 unit-push-left">
      <a class="h1 end app-h-link" href="#/">BAKAPY.<span class="small">backup framework</span></a>
    </div>
  </header><!-- /header -->


  <div bindonce="backup" class="units-row units-padding">
    <div class="unit-100" ng-if="backup">
      <div class="pause lead">
        <h1 class="h3">
          <span class="color-gray-50 small light"><span bo-text="backup.JobName"></span>&#160;/</span><br />
          <span bo-text="backup.TaskId"></span>
          <span bo-if="backup.Success" class="badge badge-green app-status-middle" title="Success">&#160;&#160;</span>
          <span bo-if="!backup.Success" class="badge badge-red app-status-middle" title="Failed">&#160;&#160;</span>
        </h1>
      </div>
      <table class="app-table">
        <tbody>
          <tr class="app-table-line">
            <td class="app-table-cell">Command</td>
            <td class="app-table-cell" bo-text="backup.Command"></td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">AvgSpeed</td>
            <td class="app-table-cell"><span bo-text="backup.AvgSpeed | bytes"></span>/s</td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">Pid</td>
            <td class="app-table-cell" bo-text="backup.Pid"></td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">StartTime</td>
            <td class="app-table-cell">
              <span bo-text="backup.StartTime | date:'dd-MM-yyyy'"></span>
              <span class="color-gray-50">&#160;—&#160;<span bo-text="backup.StartTime | date:'HH:mm:ss'"></span></span>
            </td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">EndTime</td>
            <td class="app-table-cell">
              <span bo-text="backup.EndTime | date:'dd-MM-yyyy'"></span>
              <span class="color-gray-50">&#160;—&#160;<span bo-text="backup.EndTime | date:'HH:mm:ss'"></span></span>
            </td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">Duration</td>
            <td class="app-table-cell nowrap">
              <span bo-if="backup.Duration >= 60"><span bo-text="backup.Duration / 60 | number: 2"></span>&#160;m</span>
              <span bo-if="backup.Duration < 60"><span bo-text="backup.Duration | number: 2"></span>&#160;s</span>
            </td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">ExpireTime</td>
            <td class="app-table-cell">
              <span bo-text="backup.ExpireTime | date:'dd-MM-yyyy'"></span>
              <span class="color-gray-50">&#160;—&#160;<span bo-text="backup.ExpireTime | date:'HH:mm:ss'"></span></span>
            </td>
          </tr>
          <tr class="app-table-line">
            <td class="app-table-cell">TotalSize</td>
            <td class="app-table-cell" bo-text="backup.TotalSize | bytes"></td>
          </tr>
          <tr bo-show="backup.Files.length" class="app-table-line">
            <td class="app-table-cell">Files</td>
            <td class="app-table-cell">
              <ul class="list-flat end">
                <li bindonce ng-repeat="file in backup.Files">
                  <a bo-href-i="{{ file.source }}" download bo-text="file.source"></a>&#160;<span class="color-gray-40 smaller" bo-text="file.size | bytes"></span>
                </li>
              </ul>
            </td>
          </tr>
          <tr bo-show="backup.Output" class="app-table-line">
            <td class="app-table-cell">Output</td>
            <td class="app-table-cell">
              <code>
                <pre bo-text="backup.Output"></pre>
              </code>
            </td>
          </tr>
          <tr bo-show="backup.Errput" class="app-table-line">
            <td class="app-table-cell">Errput</td>
            <td class="app-table-cell">
              <code>
                <pre bo-text="backup.Errput"></pre>
              </code>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="unit-100" ng-include="'partials/not-found.html'" ng-if="!backup"></div>
  </div>
</div><!-- /app-wrapper -->

<span class="app-loader" data-loading></span><!-- /app-loader -->
