/bin/
/pkg/
/vendor/pkg/
/bakapy-scheduler
*.sublime-project
*.sublime-workspace
/Dockerfile
/debian/bakapy.debhelper.log
/debian/bakapy.*.debhelper
/debian/bakapy.substvars
/debian/bakapy/
/debian/files
/native-packages/
/front/metadata/
/coverage*.out
/acceptance/*/*.log
