Source: bakapy
Maintainer: Matvey Kruglov <kubuzzzz@gmail.com>
Section: Backup
Priority: optional
Build-Depends: cdbs
Standards-Version: 3.9.1

Package: bakapy
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bakapy backup framework

Package: bakapy-front
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bakapy framework web interface
