Source: bakapy
Maintainer: Matvey Kruglov <kubuzzzz@gmail.com>
Section: Backup
Priority: optional
Build-Depends: cdbs, debhelper
Standards-Version: 3.9.5

Package: bakapy-scheduler
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bakapy scheduler service

Package: bakapy-metaman
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bakapy metadata service

Package: bakapy-storage
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bakapy storage service

Package: bakapy-front
Architecture: all
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Bakapy web interface for metadata service
